In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/workspaces/data-pipeline/resource/holding.csv',nrows=10000000)

In [6]:
len(df)

10000000

In [7]:
df

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
9999995,3070422,2021/01/31,388,2021/04/23,0.07,5000000.0,6.013100e+06,Utah County Utah 4% 15-MAY-2043,917393DA
9999996,3070422,2021/01/31,388,2021/04/23,0.07,5610000.0,6.016444e+06,Guam Power Authority 5% 01-OCT-2030,400653GQ
9999997,3070422,2021/01/31,392,2021/04/23,0.07,5000000.0,6.008500e+06,New York City Municipal Water Finance Authorit...,64972GWL
9999998,3070422,2021/01/31,393,2021/04/23,0.07,5155000.0,5.977738e+06,Hospital Authority of Hall County And City Of ...,362762LD
9999999,3070422,2021/01/31,394,2021/04/23,0.07,5000000.0,5.971250e+06,New York City Transitional Finance Authority 5...,64971WD3

In [8]:
df.head(20)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
5,2998623,2020/11/30,6,2021/01/08,1.64,866386.0,1.997713e+08,GOLDMAN SACHS GROUP INC,38141G10
6,2998623,2020/11/30,7,2021/01/08,1.63,2194727.0,1.976352e+08,C S X CORP,12640810
7,2998623,2020/11/30,8,2021/01/08,1.60,5045923.0,1.939653e+08,AMERICAN INTERNATIONAL GROUP INC,02687478
8,2998623,2020/11/30,9,2021/01/08,1.59,1403360.0,1.937619e+08,P N C FINANCIAL SERVICES GRP INC,69347510
9,2998623,2020/11/30,10,2021/01/08,1.54,3065766.0,1.874409e+08,C B R E GROUP INC,12504L10
10,2998623,2020/11/30,11,2021/01/08,1.54,186854700.0,1.869642e+08,US Treasury 0.375% 30-Nov-2025,91282CAZ
11,2998623,2020/11/30,12,2021/01/08,1.52,6737689.0,1.842758e+08,WELLS FARGO & CO NEW,94974610
12,2998623,2020/11/30,13,2021/01/08,1.50,3968733.0,1.827205e+08,JOHNSON CONTROLS INTL PLC,G5150210
13,2998623,2020/11/30,14,2021/01/08,1.50,182211000.0,1.821434e+08,United States of America (Government) .125% 30...,91282CAX
14,2998623,2020/11/30,15,2021/01/08,1.50,583989.0,1.819243e+08,ANTHEM INC,03675210
15,2998623,2020/11/30,16,2021/01/08,1.46,1208147.0,1.778030e+08,QUALCOMM INC,74752510
16,2998623,2020/11/30,17,2021/01/08,1.43,1161825.0,1.735186e+08,GENERAL DYNAMICS CORP,36955010
17,2998623,2020/11/30,18,2021/01/08,1.39,5156744.0,1.684193e+08,CITIZENS FINANCIAL GROUP INC,17461010
18,2998623,2020/11/30,19,2021/01/08,1.36,165210387.0,1.652104e+08,Invesco Treasury Portfolio;Institutional,82525240
19,2998623,2020/11/30,20,2021/01/08,1.31,3420381.0,1.587741e+08,TRUIST FINANCIAL CORP,89832Q10

In [9]:
df.tail(20)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
9999980,3070422,2021/01/31,375,2021/04/23,0.08,5000000.0,6212900.00,"New Jersey, State of 5% 01-JUN-2040",646039XP
9999981,3070422,2021/01/31,375,2021/04/23,0.08,5185000.0,6208674.55,South Huron Valley Utility Authority 4% 01-MAY...,838424BP
9999982,3070422,2021/01/31,377,2021/04/23,0.08,5130000.0,6202683.00,"Connecticut, State of 5% 15-MAR-2032",20772JT8
9999983,3070422,2021/01/31,378,2021/04/23,0.07,5000000.0,6180200.00,Garfield County Educational Facilities Authori...,365716AS
9999984,3070422,2021/01/31,379,2021/04/23,0.07,5000000.0,6165600.00,Los Angeles Unified School District 4% 01-JUL-...,544647DH
9999985,3070422,2021/01/31,380,2021/04/23,0.07,4920000.0,6159102.00,City of Sacramento California 5% 01-JUN-2030,786073AL
9999986,3070422,2021/01/31,381,2021/04/23,0.07,5000000.0,6121200.00,California Health Facilities Financing Authori...,13032UCG
9999987,3070422,2021/01/31,382,2021/04/23,0.07,5525000.0,6112915.25,Puerto RiCo Highway And Transportation Authori...,745190ZP
9999988,3070422,2021/01/31,383,2021/04/23,0.07,5000000.0,6087700.00,Putnam County Development Authority 5% 15-MAR-...,746507AU
9999989,3070422,2021/01/31,384,2021/04/23,0.07,5000000.0,6066650.00,New York State Urban Development Corp 5% 15-MA...,64990AGS
9999990,3070422,2021/01/31,385,2021/04/23,0.07,4585000.0,6036748.55,Massachusetts School Building Authority 5% 15-...,576000YW
9999991,3070422,2021/01/31,385,2021/04/23,0.07,5000000.0,6036400.00,New Jersey Educational Facilities Authority 5%...,646066VD
9999992,3070422,2021/01/31,387,2021/04/23,0.07,5000000.0,6027650.00,Chicago O'Hare International Airport 4% 01-JAN...,167593P2
9999993,3070422,2021/01/31,388,2021/04/23,0.07,5000000.0,6017500.00,Long Island Power Authority 4% 01-SEP-2034,542691CK
9999994,3070422,2021/01/31,388,2021/04/23,0.07,5525000.0,6015509.50,Business Finance Authority 4% 01-APR-2050,644684DS
9999995,3070422,2021/01/31,388,2021/04/23,0.07,5000000.0,6013100.00,Utah County Utah 4% 15-MAY-2043,917393DA
9999996,3070422,2021/01/31,388,2021/04/23,0.07,5610000.0,6016444.50,Guam Power Authority 5% 01-OCT-2030,400653GQ
9999997,3070422,2021/01/31,392,2021/04/23,0.07,5000000.0,6008500.00,New York City Municipal Water Finance Authorit...,64972GWL
9999998,3070422,2021/01/31,393,2021/04/23,0.07,5155000.0,5977738.00,Hospital Authority of Hall County And City Of ...,362762LD
9999999,3070422,2021/01/31,394,2021/04/23,0.07,5000000.0,5971250.00,New York City Transitional Finance Authority 5...,64971WD3

In [10]:
df.head(20).tail(5)

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
15,2998623,2020/11/30,16,2021/01/08,1.46,1208147.0,1.778030e+08,QUALCOMM INC,74752510
16,2998623,2020/11/30,17,2021/01/08,1.43,1161825.0,1.735186e+08,GENERAL DYNAMICS CORP,36955010
17,2998623,2020/11/30,18,2021/01/08,1.39,5156744.0,1.684193e+08,CITIZENS FINANCIAL GROUP INC,17461010
18,2998623,2020/11/30,19,2021/01/08,1.36,165210387.0,1.652104e+08,Invesco Treasury Portfolio;Institutional,82525240
19,2998623,2020/11/30,20,2021/01/08,1.31,3420381.0,1.587741e+08,TRUIST FINANCIAL CORP,89832Q10

In [11]:
df[500:505]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
500,2998821,2020/11/30,3,2021/01/08,2.74,585810.0,47204569.80,ENCOMPASS HEALTH CORP,29261A10
501,2998821,2020/11/30,4,2021/01/08,2.73,1019787.0,46950993.48,JOHNSON CONTROLS INTL PLC,G5150210
502,2998821,2020/11/30,5,2021/01/08,2.71,1645462.0,46599483.84,TAPESTRY INC,87603010
503,2998821,2020/11/30,6,2021/01/08,2.60,883918.0,44726250.80,KIRBY CORP,49726610
504,2998821,2020/11/30,7,2021/01/08,2.57,988193.0,44271046.40,CIENA CORP,17177930

In [18]:
df.loc[[1,3,5,7],'portno':'market_val']

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08
5,2998623,2020/11/30,6,2021/01/08,1.64,866386.0,1.997713e+08
7,2998623,2020/11/30,8,2021/01/08,1.60,5045923.0,1.939653e+08

In [19]:
df.loc[[1,3,5,7],['portno','market_val']]

    portno    market_val
1  2998623  2.412404e+08
3  2998623  2.132503e+08
5  2998623  1.997713e+08
7  2998623  1.939653e+08

In [20]:
df.iloc[[1,3,5,7],[0,5,7]]

    portno  nbr_shares                     security_name
1  2998623   3087680.0    COGNIZANT TECHNOLOGY SOLS CORP
3  2998623   2815186.0   PHILIP MORRIS INTERNATIONAL INC
5  2998623    866386.0           GOLDMAN SACHS GROUP INC
7  2998623   5045923.0  AMERICAN INTERNATIONAL GROUP INC

In [21]:
df.columns

Index(['portno', 'report_dt', 'security_rank', 'eff_dt', 'percent_tna',
       'nbr_shares', 'market_val', 'security_name', 'cusip'],
      dtype='object')

In [24]:
df.describe(include='all')

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
count,10000000,10000000,1.000000e+07,10000000,1.000000e+07,1.000000e+07,1.000000e+07,10000000,9659796
unique,11214,79,NaN,8,NaN,NaN,NaN,519964,355995
top,3066654,2020/12/31,NaN,2021/03/23,NaN,NaN,NaN,USD Cash,59491810
freq,73987,3105530,NaN,2051142,NaN,NaN,NaN,14162,5869
mean,NaN,NaN,1.003474e+03,NaN,3.031827e-01,3.932219e+07,8.172857e+06,NaN,NaN
std,NaN,NaN,1.670535e+03,NaN,1.678260e+00,1.031730e+10,1.288667e+08,NaN,NaN
min,NaN,NaN,1.000000e+00,NaN,-2.628000e+02,-1.188360e+13,-3.157247e+10,NaN,NaN
25%,NaN,NaN,1.260000e+02,NaN,1.000000e-02,8.600000e+03,9.372433e+04,NaN,NaN
50%,NaN,NaN,4.080000e+02,NaN,5.000000e-02,1.000000e+05,5.220688e+05,NaN,NaN
75%,NaN,NaN,1.157000e+03,NaN,2.000000e-01,8.200000e+05,2.488244e+06,NaN,NaN
max,NaN,NaN,1.528900e+04,NaN,3.822500e+02,9.665837e+12,7.118158e+10,NaN,NaN

In [25]:
df.dtypes

portno            object
report_dt         object
security_rank      int64
eff_dt            object
percent_tna      float64
nbr_shares       float64
market_val       float64
security_name     object
cusip             object
dtype: object

In [26]:
df['portno'].unique()

array(['2998623', '2998638', '2998809', ..., '3155343', '3155349',
       '3064902'], dtype=object)

In [28]:
print(f'len(df):{len(df)}')
print(f'len():{len(df['portno'].unique())}')

len(df):10000000
len():11214

In [31]:
df['market_val'].mean()

np.float64(8172857.271473609)

In [32]:
df['market_val'].std()

np.float64(128866681.69224656)

In [33]:
df['market_val'].min()

np.float64(-31572471527.0)

In [ ]:
df.mean()

In [4]:
df.describe()

       security_rank   percent_tna    nbr_shares    market_val
count   1.000000e+07  1.000000e+07  1.000000e+07  1.000000e+07
mean    1.003474e+03  3.031827e-01  3.932219e+07  8.172857e+06
std     1.670535e+03  1.678260e+00  1.031730e+10  1.288667e+08
min     1.000000e+00 -2.628000e+02 -1.188360e+13 -3.157247e+10
25%     1.260000e+02  1.000000e-02  8.600000e+03  9.372433e+04
50%     4.080000e+02  5.000000e-02  1.000000e+05  5.220688e+05
75%     1.157000e+03  2.000000e-01  8.200000e+05  2.488244e+06
max     1.528900e+04  3.822500e+02  9.665837e+12  7.118158e+10

In [6]:
df['portno'].value_counts()

portno
3066654    73987
3086928    45324
306841b    44009
306920d    39989
3100110    39897
           ...
306874e        1
310123b        1
3085257        1
3086232        1
3064902        1
Name: count, Length: 11214, dtype: int64

In [ ]:
port_filter = df.isin[]

In [7]:
portno_filter = df["portno"].isin(["3092616", "2998623"])
percent_gl_2_filter = df["percent_tna"] > 2

In [8]:
df[
    df["portno"].isin(["3092616", "2998623"])
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
1,2998623,2020/11/30,2,2021/01/08,1.98,3087680.0,2.412404e+08,COGNIZANT TECHNOLOGY SOLS CORP,19244610
2,2998623,2020/11/30,3,2021/01/08,1.89,3714760.0,2.296836e+08,MORGAN STANLEY DEAN WITTER & CO,61744644
3,2998623,2020/11/30,4,2021/01/08,1.75,2815186.0,2.132503e+08,PHILIP MORRIS INTERNATIONAL INC,71817210
4,2998623,2020/11/30,5,2021/01/08,1.65,5248941.0,2.011394e+08,CORTEVA INC,22052L10
...,...,...,...,...,...,...,...,...,...
9731522,2998623,2021/02/28,91,2021/04/23,0.24,30912000.0,3.000957e+07,Trip.com Group Ltd 1.25% 15-SEP-2022,22943FAM
9731523,2998623,2021/02/28,159,2021/04/23,0.07,8165000.0,8.878822e+06,Energy Transfer LP 5.3% 01-APR-2044,86765BAP
9731524,2998623,2021/02/28,169,2021/04/23,0.06,7684000.0,8.155102e+06,Energy Transfer LP 5% 15-MAY-2050,29278NAR
9731525,2998623,2021/02/28,277,2021/04/23,0.03,3640000.0,3.962569e+06,Energy Transfer LP 4.9% 15-MAR-2035,29273RBE
9731526,2998623,2021/02/28,310,2021/04/23,0.01,1638000.0,1.765758e+06,Energy Transfer LP 4.2% 15-SEP-2023,29278NAC

In [9]:
df[
    portno_filter & (percent_gl_2_filter)
]

,portno,report_dt,security_rank,eff_dt,percent_tna,nbr_shares,market_val,security_name,cusip
0,2998623,2020/11/30,1,2021/01/08,2.55,7078982.0,3.103426e+08,GENERAL MOTORS CO,37045V10
2558138,2998623,2020/12/31,1,2021/02/05,2.30,6810121.0,2.835734e+08,GENERAL MOTORS CO,37045V10
4933836,2998623,2021/01/31,1,2021/03/08,2.72,6473164.0,3.280600e+08,GENERAL MOTORS CO,37045V10
5544400,3092616,2020/12/31,1,2021/03/08,5.83,3525096.0,6.658886e+07,Taiwan Semiconductor Manufacturing Co Ltd ORD,Y8462910
5544401,3092616,2020/12/31,2,2021/03/08,5.53,271030.0,6.307681e+07,ALIBABA GROUP HOLDING LTD,01609W10
5544402,3092616,2020/12/31,3,2021/03/08,5.24,822744.0,5.975647e+07,Tencent Holdings Ltd ORD,G8757216
5544403,3092616,2020/12/31,4,2021/03/08,4.48,682916.0,5.115040e+07,Samsung Electronics Co Ltd ORD,Y7471810
5979764,2998623,2021/01/31,2,2021/03/23,2.09,252485800.0,2.519532e+08,United States of America (Government) .375% 31...,91282CBC
5979765,2998623,2021/01/31,3,2021/03/23,2.06,247992000.0,2.480598e+08,United States of America (Government) .125% 31...,91282CBD
8030906,2998623,2021/02/28,1,2021/04/09,2.57,6308399.0,3.238101e+08,GENERAL MOTORS CO,37045V10
8030907,2998623,2021/02/28,2,2021/04/09,2.15,7789411.0,2.703705e+08,BANK OF AMERICA CORP,06050510
8030908,2998623,2021/02/28,3,2021/04/09,2.13,7410809.0,2.680490e+08,WELLS FARGO & CO NEW,94974610

In [14]:
df.groupby('portno').sum()['market_val']

portno
2998623    4.907629e+10
2998638    3.476063e+10
2998809    9.693142e+09
2998821    7.102742e+09
2998923    1.710556e+09
               ...
3155109    3.421019e+07
3155121    4.721052e+07
3155124    6.150346e+06
3155343    3.977418e+06
3155349    1.288700e+08
Name: market_val, Length: 11214, dtype: float64

In [16]:
df.groupby(['portno','security_name']).size()

portno   security_name
2998623  10YR TNotes JUN1              1
         10YR TNotes MAR1              3
         5YR T NOTES JUN1              1
         5YR T NOTES MAR1              3
         7-Eleven Inc 10-FEB-2051      1
                                      ..
3155349  Zenkoku Hosho Co Ltd ORD      1
         Zensho Holdings Co Ltd ORD    1
         Zeon Corp ORD                 1
         thyssenkrupp AG ORD           1
         voestalpine AG ORD            1
Length: 4060351, dtype: int64

In [18]:
df.groupby(['portno','eff_dt'])['percent_tna'].sum()

portno   eff_dt
2998623  2021/01/08     99.79
         2021/02/05     99.20
         2021/02/19      0.56
         2021/03/08     70.69
         2021/03/23     29.08
                        ...
3155109  2021/04/09    105.38
3155121  2021/04/09    100.60
3155124  2021/04/09     96.49
3155343  2021/04/09    100.07
3155349  2021/04/09    100.09
Name: percent_tna, Length: 45699, dtype: float64