In [1]:
import pandas as pd

In [8]:
# Sample data
data = {
    "date": ["2023-04-01", "2023-04-01", "2023-04-01", "2023-04-02", "2023-04-02", "2023-04-03", "2023-04-03"],
    "product": ["Apple", "Banana", "Apple", "Banana", "Banana", "Apple", "Banana"],
    "sales": [100, 200, 150, 100, 150, 200, 180]
}

df = pd.DataFrame(data)

df

         date product  sales
0  2023-04-01   Apple    100
1  2023-04-01  Banana    200
2  2023-04-01   Apple    150
3  2023-04-02  Banana    100
4  2023-04-02  Banana    150
5  2023-04-03   Apple    200
6  2023-04-03  Banana    180

In [17]:
df['row_count'] = df.groupby(['date','product']).cumcount()+1
df  = df.drop('row_count',axis = 1)

排序，依造順序排序，先依造每一天，每一種產品，每一個值

In [24]:
df = df.sort_values(['date','product','sales'],ascending=True)
df['row_count'] = df.groupby(['date','product']).cumcount()+1
df = df.loc[df.row_count==1]

In [25]:
df[['date','product','sales']]

         date product  sales
0  2023-04-01   Apple    100
1  2023-04-01  Banana    200
3  2023-04-02  Banana    100
5  2023-04-03   Apple    200
6  2023-04-03  Banana    180